In [7]:
# Exercice 5

var = 15

if type(var) is str:
    print("Chaines de caractères")

elif type(var) is int:
    print("Entier")

else :
    print(f"a est {type(var)}")

Entier

In [8]:
# Exercice 6

d = 5

if d >= 0:
    print("Positive")

else :
    print("Négative")

Positive

In [4]:
# Exercice 7

age = int(input("votre âge"))


if age >= 18:
    print(f"L'utilisateur est majeur. Il a {age} ans.")
else :
    print(f"L'utilisateur est mineur. Il a {age} ans")

L'utilisateur est mineur. Il a 13 ans

In [9]:
# Exercice 8a

for nombre in range(1,21):
 print(nombre)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [13]:
# Exercice 8b
i = 0

while i < 20:
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [34]:
# Exercice 9a

for nombre_b in range(11,20,2):
    print(nombre_b)

11
13
15
17
19

In [23]:
# Exercice 9b
i = 0

while i < 20:
    i += 1

    if i > 10:
        print(i)

11
12
13
14
15
16
17
18
19
20

In [16]:
# Exercice 10
liste10 = [nombre for nombre in range(1,11)]

print(liste10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
# Exercice 11

liste_pairs = [i for i in list(range(1,11)) if i % 2 == 0]
print(liste_pairs)

[2, 4, 6, 8, 10]

In [19]:
# Exercice 12

l = [6,8,3,4,1,12,2,9,2]
l.sort()
print(l)

[1, 2, 2, 3, 4, 6, 8, 9, 12]

In [54]:
# Exercice 13

l = [3,2,2,1,9,1,2,3,7]

print(l.count(1))

2

In [2]:
# Exercice 14

l = []
print(l)

l += [10,25,30,45,90]
l.append("ab")
l.append("cd")
l.append("ef")
print(l)

[]
[10, 25, 30, 45, 90, 'ab', 'cd', 'ef']

In [3]:
# Exercice 15

l = [a for a in range(1,11)]
print(l)
# l2 = [a for a in l[::3]]
l2 = l[::3]
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 7, 10]

In [28]:
# Exercice 16

c = "france"
c2 = "".join(sorted(c))
c_sorted = sorted(c)
print(c2)
print(c_sorted)

acefnr
['a', 'c', 'e', 'f', 'n', 'r']

In [6]:
# Exercie 17
l1 = [9,8,7,14,3,2,"a","p","bonjour","b"]
l2 = ["b",1,9,2,6,2,9,"p"]
l3 = [set(l1) & set(l2)]

print(l3)

[{'p', 'b', 2, 9}]

In [55]:
# Exercice 18

l = [("Pomme", 15), ("Banane",8), ("Fraise",12), ("Kiwi",9), ("Pêche",2)]

l2 = sorted(l, key=lambda x: x[1])

print(l2)

[('Pêche', 2), ('Banane', 8), ('Kiwi', 9), ('Fraise', 12), ('Pomme', 15)]

In [59]:
# Exercice 19

ch = "Bonjour tout le monde"
hc="".join(reversed(ch))
print(hc)

ednom el tuot ruojnoB

In [79]:
# Exercice 20

dico_fruit = {'Pomme': 3, 'Banane': 7, 'Kiwi': 1}

print(dico_fruit["Pomme"])
print(dico_fruit["Banane"])

3
7

In [83]:
# Exercice 21

l = {"Pomme": 15, "Banane" : 8, "Fraise" : 12, "Kiwi" : 9, "Pêche" : 2}

print(sum(l.values()))

46

In [84]:
# Exercice 22

decimal = 187.632587

print(round(decimal,2))

187.63

In [85]:
# Exercice 23

monNom = input("Nom : ")
age = input("Age : ")
langage = input("Langage : ")

print(f"Je m'appelle {monNom} et j'ai {age} ans. J'apprends le langage {langage}.")

Je m'appelle Elie et j'ai 26 ans. J'apprends le langage JS.

In [5]:
# Exercice 24
for i in range(11):
    print(f"8 x {i} = {8*i}")

8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80